[Unit]
Description=systemd
Documentation=https://example.com
After=network.target

[Service]
WorkingDirectory=/opt/csye6225/webapp
Type=simple
User=csye6225
ExecStart=/usr/bin/node /opt/csye6225/webapp/server.js
Restart=always

[Install]
WantedBy=multi-user.target

